# Mariano Matias Valle - Desafio N° 1

**Información sobre Internaciones en la Ciudad de Buenos Aires.
Información publicada en https://data.buenosaires.gob.ar/dataset/
Esta información nos permite saber los servicios, especialidades y hospitales de la ciudad, y los ingresos, altas y defunciones, desde el año 2011 al año 2017**

In [1]:
import pandas as pd

In [2]:
df=pd.read_excel("dfinternacion.xlsx")
df.head()

,SERVICIO,SERVICIO_ID,ESPECIALIDADES,NOM_EFECTOR_BADATA,CODHOSP,TIPHOSP,PASES_A,ING_PASES,ALTAS,DEF,...,PAC_DIA,PROMEDIO_CAMAS_DISP,PROMEDIO_PAC_DIA,PORCENTAJE_OCUP,PROMEDIO_PERM,GIRO,TASA_MORT_HOSP,ANIO,SK_ID_EFECTOR,OBSERVACIONES
0,Cirugia,2,Urologia,HOSPITAL GENERAL DE NIÑOS RICARDO GUTIERREZ,HGNRG,INFANT,21,325,319,0,...,1820,1292,499,3861,563,2501,0,2011,2164,NaN
1,Cirugia,2,Subtotal Cirugia,HOSPITAL GENERAL DE NIÑOS RICARDO GUTIERREZ,HGNRG,INFANT,634,5295,4616,27,...,26327,13295,7213,5425,498,3978,51,2011,2164,NaN
2,Urgencia,9,Terapia Intensiva,HOSPITAL GENERAL DE NIÑOS RICARDO GUTIERREZ,HGNRG,INFANT,236,337,3,62,...,5102,1668,1398,8379,1509,2026,1834,2011,2164,NaN
3,Urgencia,9,Subtotal Urgencia,HOSPITAL GENERAL DE NIÑOS RICARDO GUTIERREZ,HGNRG,INFANT,236,337,3,62,...,5102,1668,1398,8379,1509,2026,1834,2011,2164,NaN
4,Urgencia,9,Total Hospital,HOSPITAL GENERAL DE NIÑOS RICARDO GUTIERREZ,HGNRG,INFANT,1592,11341,9633,124,...,79283,31812,21721,6828,813,3067,127,2011,2164,NaN

In [3]:
df.shape

(2772, 24)

In [4]:
df.columns

Index(['SERVICIO', 'SERVICIO_ID', 'ESPECIALIDADES', 'NOM_EFECTOR_BADATA',
       'CODHOSP', 'TIPHOSP', 'PASES_A', 'ING_PASES', 'ALTAS', 'DEF', 'TOTAL',
       'PASES_B', 'EGR_PASES', 'DIAS_CAMAS_DISP', 'PAC_DIA',
       'PROMEDIO_CAMAS_DISP', 'PROMEDIO_PAC_DIA', 'PORCENTAJE_OCUP',
       'PROMEDIO_PERM', 'GIRO', 'TASA_MORT_HOSP', 'ANIO', 'SK_ID_EFECTOR',
       'OBSERVACIONES'],
      dtype='object')

* SERVICIO : servicio realizado
* SERVICIO_ID : número identificatorio del servicio
* ESPECIALIDADES : especialidad realizada
* NOM_EFECTOR_BADATA : nombre del hospital
* CODHOSP: codigo identificatorio del hospital
* TIPHOSP : tipo/especialidad del hospital
* PASES_A : movimientos entre hospitales
* ING_PASES : movimientos entre hospitales
* ALTAS : cantidad de altas realizadas
* DEF : cantidad de defunciones
* TOTAL : total de pacientes ingresados
* PASES_B : movimientos entre hospitales
* EGR_PASES : movimientos entre hospitales
* DIAS_CAMAS_DISP : cantidad de camas disponibles por dia
* PAC_DIA : cantidad de pacientes por dia
* PROMEDIO_CAMAS_DISP : promedio de camas disponibles
* PROMEDIO_PAC_DIA : promedio de pacientes por dia
* PORCENTAJE_OCUP : porcentaje ocupado
* PROMEDIO_PERM : promedio permitido
* GIRO : movimientos entre hospitales
* TASA_MORT_HOSP : tasa de mortalidad del hospital
* ANIO : año
* SK_ID_EFECTOR : número identificatorio del hospital 
* OBSERVACIONES : observaciones realizadas

**Georreferenciación de los delitos ocurridos en el municipio de Bucaramanga según la modalidad, conducta, móvil del agresor, móvil de la víctima, comunas de ocurrencia, fatales, no fatales y violencia sexual desagregado por curso de vida, sexo, mes y día de ocurrencia. 
La información se obtuvo de: https://www.datos.gov.co/Seguridad-y-Defensa**

In [6]:
df2=pd.read_csv("delitosbucaramanga.csv")
df2.head()

C:\Users\Mariano\AppData\Local\Temp\ipykernel_11592\2983179079.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df2=pd.read_csv("delitosbucaramanga.csv")

,ORDEN,ARMAS_MEDIOS,BARRIOS_HECHO,LATITUD,LONGITUD,ZONA,NOM_COMUNA,ANO,MES,DIA,DIA_SEMANA,DESCRIPCION_CONDUCTA,CONDUCTA,CLASIFICACIONES DELITO,EDAD,CURSO_DE_VIDA,ESTADO_CIVIL_PERSONA,GENERO,MOVIL_AGRESOR,MOVIL_VICTIMA
0,50946,ARMA BLANCA / CORTOPUNZANTE,KENNEDY,7.153943,-73.136794,URBANA,01. Norte,2015.0,01. Enero,1.0,04. Jueves,ARTÍCULO 103. HOMICIDIO,HOMICIDIO,Lesiones fatales,28,04. Jovenes,UNION LIBRE,MASCULINO,A PIE,A PIE
1,50947,ARMA BLANCA / CORTOPUNZANTE,CABECERA DEL LLANO,7.116619,-73.109865,URBANA,12. Cabecera del Llano,2015.0,01. Enero,1.0,04. Jueves,ARTÍCULO 111. LESIONES PERSONALES,LESIONES PERSONALES,Lesiones no fatales,40,05. Adultez,SOLTERO,MASCULINO,A PIE,A PIE
2,50948,ARMA BLANCA / CORTOPUNZANTE,VILLA MARIA,7.154916,-73.130231,URBANA,02. Nor Oriental,2015.0,01. Enero,1.0,04. Jueves,ARTÍCULO 111. LESIONES PERSONALES,LESIONES PERSONALES,Lesiones no fatales,18,04. Jovenes,SOLTERO,MASCULINO,A PIE,A PIE
3,50949,ARMA BLANCA / CORTOPUNZANTE,VILLAS DE SAN IGNACIO,7.156274,-73.142024,URBANA,01. Norte,2015.0,01. Enero,1.0,04. Jueves,ARTÍCULO 111. LESIONES PERSONALES,LESIONES PERSONALES,Lesiones no fatales,37,05. Adultez,UNION LIBRE,FEMENINO,A PIE,A PIE
4,50950,ARMA BLANCA / CORTOPUNZANTE,GAITAN,7.130512,-73.131001,URBANA,04. Occidental,2015.0,01. Enero,1.0,04. Jueves,ARTÍCULO 239. HURTO A PERSONAS,HURTO A PERSONAS,Lesiones no fatales,18,04. Jovenes,SOLTERO,MASCULINO,A PIE,A PIE

In [8]:
df2.shape

(84106, 20)

In [9]:
df2.columns

Index(['ORDEN', 'ARMAS_MEDIOS', 'BARRIOS_HECHO', 'LATITUD', 'LONGITUD', 'ZONA',
       'NOM_COMUNA', 'ANO', 'MES', 'DIA', 'DIA_SEMANA', 'DESCRIPCION_CONDUCTA',
       'CONDUCTA', 'CLASIFICACIONES DELITO', 'EDAD', 'CURSO_DE_VIDA',
       'ESTADO_CIVIL_PERSONA', 'GENERO', 'MOVIL_AGRESOR', 'MOVIL_VICTIMA'],
      dtype='object')

* ORDEN : número de delito
* ARMAS_MEDIOS : armas/objeto utilizado
* BARRIOS_HECHO : lugar del hecho
* LATITUD : código latitudinal
* LONGITUD : código longitudinal
* ZONA : descripción zonal
* NOM_COMUNA : identificación de comuna
* ANO : año del hecho
* MES : mes del hecho
* DIA : día del hecho
* DIA_SEMANA : día y la semana del hecho
* DESCRIPCION_CONDUCTA : descripción legal del hecho sucedido
* CONDUCTA : conclución del hecho sucedido
* CLASIFICACIONES DELITO : conclución final del daño realizado
* EDAD : edad del usuario
* CURSO_DE_VIDA : descripción de edad del usuario
* ESTADO_CIVIL_PERSONA : estado civil del usuario
* GENERO : género del usuario
* MOVIL_AGRESOR : descripción de movilidad del agresor
* MOVIL_VICTIMA : descripción de movilidad de la víctima

**Este conjunto de datos se creó para enumerar todos los programas y películas disponibles en HBO Max. Fue recopilado de JustWatch en marzo de 2023 y contiene datos disponibles en los Estados Unidos.
La información se obtuvo de: https://www.kaggle.com/datasets/dgoenrique/hbo-max-movies-and-tv-shows**

In [11]:
df3=pd.read_csv("titles.csv")
df3.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,tm77588,Casablanca,MOVIE,"In Casablanca, Morocco in December 1941, a cyn...",1943,PG,102,"['drama', 'romance', 'war']",['US'],NaN,tt0034583,8.5,577842.0,22.005,8.167
1,tm155702,The Wizard of Oz,MOVIE,Young Dorothy finds herself in a magical world...,1939,G,102,"['fantasy', 'family']",['US'],NaN,tt0032138,8.1,406105.0,56.631,7.583
2,tm83648,Citizen Kane,MOVIE,"Newspaper magnate, Charles Foster Kane is take...",1941,PG,119,['drama'],['US'],NaN,tt0033467,8.3,446627.0,19.900,8.022
3,tm3175,Meet Me in St. Louis,MOVIE,In the year before the 1904 St. Louis World's ...,1945,NaN,113,"['drama', 'family', 'romance', 'music', 'comedy']",['US'],NaN,tt0037059,7.5,25589.0,8.311,7.000
4,ts225761,Tom and Jerry,SHOW,Tom and Jerry is an American animated franchis...,1940,NaN,8,"['animation', 'comedy', 'family', 'action']",['US'],16.0,tt6422744,7.7,859.0,1.400,10.000

In [12]:
df3.shape

(3030, 15)

In [13]:
df3.columns

Index(['id', 'title', 'type', 'description', 'release_year',
       'age_certification', 'runtime', 'genres', 'production_countries',
       'seasons', 'imdb_id', 'imdb_score', 'imdb_votes', 'tmdb_popularity',
       'tmdb_score'],
      dtype='object')

* id : número identificatorio de la obra
* title : título
* type : clasificación de la obra
* description : breve descripción de la obra
* release_year : fecha de publicación
* age_certification : edad permitida de la obra
* runtime : tiempo de la obra
* genres : género de la obra
* production_countries : país proveniente de la producción
* seasons : temporadas
* imdb_id : número identificatorio en Internet Movie Database
* imdb_score : puntuación de la obra en Internet Movie Database
* imdb_votes : cantidad de votos realizados en Internet Movie Database
* tmdb_popularity : popularidad de la obra en The Movie Database
* tmdb_score : puntuación de la obra en The Movie Database